@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:wght@300&display=swap');

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    border: 2px solid #d9cfb4;
    border-bottom-color: #d9cfb4;
}

.title {
    font-family: 'Carter One', cursive;
    font-size: 45px;
    margin: 0 auto;
}